# IDEs
.idea
.vscode

cura_build/*
build/*
_build_armhf/*
*.deb
.coverage
*.pyc
__pycache__/
junit_cura.xml

/conanbuildinfo.txt
/graph_info.json

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
